<div class="row">
    <div class="col l8 s12 offset-l2">
        <div class="card-panel">
            <table class="centered">
                <tr>
                    <td></td>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                </tr>
                <tr>
                    <td>11:00</td>
                    <td class="data Monday t1100">{{all.Monday.[1100].email}}</td>
                    <td class="data Tuesday t1100">{{all.Tuesday.[1100].email}}</td>
                    <td class="data Wednesday t1100">{{all.Wednesday.[1100].email}}</td>
                </tr>
                <tr>
                    <td>11:30</td>
                    <td class="data Monday t1130">{{all.Monday.[1130].email}}</td>
                    <td class="data Tuesday t1130">{{all.Tuesday.[1130].email}}</td>
                    <td class="data Wednesday t1130">{{all.Wednesday.[1130].email}}</td>
                </tr>
                <tr>
                    <td>12:00</td>
                    <td class="data Monday t1200">{{all.Monday.[1200].email}}</td>
                    <td class="data Tuesday t1200">{{all.Tuesday.[1200].email}}</td>
                    <td class="data Wednesday t1200">{{all.Wednesday.[1200].email}}</td>
                </tr>
                <tr>
                    <td>12:30</td>
                    <td class="data Monday t1230">{{all.Monday.[1230].email}}</td>
                    <td class="data Tuesday t1230">{{all.Tuesday.[1230].email}}</td>
                    <td  class="data Wednesday t1230">{{all.Wednesday.[1230].email}}</td>
                </tr>
                <tr>
                    <td>13:00</td>
                    <td class="data Monday t1300">{{all.Monday.[1300].email}}</td>
                    <td class="data Tuesday t1300">{{all.Tuesday.[1300].email}}</td>
                    <td class="data Wednesday t1300">{{all.Wednesday.[1300].email}}</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td class="data Monday t1300">{{all.Monday.[1330].email}}</td>
                    <td class="data Tuesday t1300">{{all.Tuesday.[1330].email}}</td>
                    <td class="data Wednesday t1300">{{all.Wednesday.[1330].email}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col l8 s12 offset-l2">
        <div class="card-panel">
            <h5 id="fullName">Click an auditionee to know more!</h5>
            <p id="email"></p>
            <a disabled class="waves-effect waves-light btn" id="remove">Remove</a>
        </div>
    </div>
</div>