<div class="row">
    <div class="col s8 offset-s2">
        <div class="card-panel">
            <table>
                <tr>
                    <td></td>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                </tr>
                <tr>
                    <td>1100</td>
                    <td class="data Monday t1100">{{all.Monday.[1100].email}}</td>
                    <td class="data Tuesday t1100">{{all.Tuesday.[1100].email}}</td>
                    <td class="data Wednesday t1100">{{all.Wednesday.[1100].email}}</td>
                </tr>
                <tr>
                    <td>1130</td>
                    <td class="data Monday t1130">{{all.Monday.[1130].email}}</td>
                    <td class="data Tuesday t1130">{{all.Tuesday.[1130].email}}</td>
                    <td class="data Wednesday t1130">{{all.Wednesday.[1130].email}}</td>
                </tr>
                <tr>
                    <td>1200</td>
                    <td class="data Monday t1200">{{all.Monday.[1200].email}}</td>
                    <td class="data Tuesday t1200">{{all.Tuesday.[1200].email}}</td>
                    <td class="data Wednesday t1200">{{all.Wednesday.[1200].email}}</td>
                </tr>
                <tr>
                    <td>1230</td>
                    <td class="data Monday t1230">{{all.Monday.[1230].email}}</td>
                    <td class="data Tuesday t1230">{{all.Tuesday.[1230].email}}</td>
                    <td  class="data Wednesday t1230">{{all.Wednesday.[1230].email}}</td>
                </tr>
                <tr>
                    <td>1300</td>
                    <td class="data Monday t1300">{{all.Monday.[1300].email}}</td>
                    <td class="data Tuesday t1300">{{all.Tuesday.[1300].email}}</td>
                    <td class="data Wednesday t1300">{{all.Wednesday.[1300].email}}</td>
                </tr>
                <tr>
                    <td>1330</td>
                    <td class="data Monday t1300">{{all.Monday.[1330].email}}</td>
                    <td class="data Tuesday t1300">{{all.Tuesday.[1330].email}}</td>
                    <td class="data Wednesday t1300">{{all.Wednesday.[1330].email}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>